

<div class="container">
  <h2><%= @post.titulo%>, de <%= @post.user.username%></h2>


      <div class="row"></div>

      <div class="comment animated fadeInLeft">
        <div class="comment-avatar"><%= avatar_for(@post.user) %></div>
        <div class="comment-content">
         <p><%= @post.contenido%></p>
          <button type="button" class="btn btn-outline-info" style="font-size: 18px">
            <%= link_to "Participar", { :controller => :posts, :action => :insertar_participante, :id => @post.id} %>
          </button>
          <div class="float-right" style="float: right">
            <a href="#" class="nombre_usuario">El <%= @post.created_at.to_formatted_s(:short)%></a>
          </div>
        </div>
      </div>
          <div class="col-md-6"><h2><%=@post.user.username%> necesita</h2></div>
          <div class="col-md-6"><h2>Listado de participantes</h2>
            <%array = @post.participantes%>
            <%array1 =  array.split("##")%>
            <%array1.delete_at(0)%>
            <%array1.each do |usu|%>
            <%usuario2 = User.find_by_username(usu)%>
                <div class="col-md-6"><a href="../usuario/<%=usuario2.id%>"><%= usuario2.username%></a></div>
                <div class="col-md-6">
                  <%= usuario2.puntoFuerte%>
                </div>

                <br>

            <%end%>
          </div>
</div>

